body {
    font-family:        'Roboto', serif;
    background-color:   rgba(25, 25, 25, 0.05);
}

header {
    height:             15%;
    width:              100%;
    border-radius:      5px;
    background-color:   rgba(155, 155, 155, 0.5);
}

main {
    padding:            10px;
    align-content:      center;
    text-align:         center;
}

footer {
    height:             15%;
    width:              100%;
    border-radius:      5px;
    background-color:   rgba(155, 155, 155, 0.5);
}

.head {
    text-transform:     uppercase;
}

.title {
    text-align:         center;
}

.footnote {
    font-size:          14px;
    font-style:         italic;
}

.circle {
    margin-top:         1vh;
    height:             10vw;
    width:              10vw;
    border:             1px solid;
    border-radius:      50%;
    display:            inline-block;
}

.tree {
    width: 100%;
    align-content:      center;
}

table {
    vertical-align:     top;
}

.tree td {
    vertical-align:     top;
    font-size:          14px;
    margin-bottom:      2vw;
    /*border:             1px solid black;*/
    /*border-radius:      50%;*/
}

.circle .name {
    align-content:      center;
    display:            block;
    height:             18px;
    border-radius:      10px;
    background-color:   rgba(128, 128, 128, 0.35);
    overflow:           hidden;
    z-index:            2;
}

.circle .name:hover {
    display:            inherit;
    overflow:           visible;
    height:             auto;
    min-width:          10vw;
}

.photo {
    display:            block;
}

.overlay {
    top:                0;
    bottom:             0;
    left:               0;
    right:              0;
    position:           fixed;
    width:              100vw;
    height:             100vh;
    background:         rgba(0, 0, 0, 0.5);
    transition:         150ms;
}

.overlay:hover,
.overlay:focus {
    transition:         300ms;
    background:         rgba(0, 0, 0, 0.25);
}

.menu-items {
    position:           relative;
    vertical-align:     bottom;
    padding:            0 5%;
    margin-left:        0;
    margin-right:       0;
    z-index:            2;
}

.item {
    margin:             5%;
    width:              10vw;
    cursor:             pointer;
}

.node-form {
    text-align:         left;
    top:                30vh;
    left:               25%;
    right:              25%;
    width:              50%;
    height:             auto;
    border:             outset 1px;
    padding:            2% 5%;
    position:           fixed;
    z-index:            5;
    overflow:           auto;
    background:         rgba(255, 255, 255, 0.65);
    transition:         300ms;
}

.node-form:hover,
.node-form:focus {
    background:         rgba(255, 255, 255, 0.95);
    transition:         150ms;
}

.node-form .head {
    height:             32px;
    width:              100%;
    border-bottom:      solid 1px;
    margin-bottom:      0;
}

.node-form .head .close {
    margin-top:         -3%;
    margin-right:       -10%;
    float:              right;
    cursor:             pointer;
    color:              silver;
}

.node-form .head .close:hover,
.node-form .head .close:focus {
    color:              black;
}

.node-form .title {
    margin:             1% 0;
    float:              left;
    text-transform:     none;
    text-align:         left;
    height:             26px;
    width:              70%;
    overflow:           hidden;
}

.node-form .form-body {
}

.fz-22 {
    font-size:         22px;
}
