body {
    background-color:   rgba(25, 25, 25, 0.05);
}

header {
    height:             15%;
    width:              100%;
    border-radius:      5px;
    background-color:   rgba(155, 155, 155, 0.5);
}

main {
    padding:            10px;
    align-content:      center;
    text-align:         center;
}

footer {
    height:             15%;
    width:              100%;
    border-radius:      5px;
    background-color:   rgba(155, 155, 155, 0.5);
}

.head {
    text-transform:     uppercase;
}

.title {
    text-align:         center;
}

.footnote {
    font-size:          14px;
    font-style:         italic;
}

.circle {
    height:             10vw;
    width:              10vw;
    border:             1px solid;
    border-radius:      50%;
    display:            inline-block;
}

.tree {
    align-content:      center;
}

table {
    vertical-align:     top;
}

.tree {
    width: 100%;
}

.tree td {
    vertical-align:     top;
    font-size:          14px;
    /*border:             1px solid black;*/
    /*border-radius:      50%;*/
}

.circle .name {
    display:            block;
    height:             16px;
    border-radius:      10px;
    background-color:   rgba(155, 155, 155, 0.5);
    overflow:           hidden;
}

.circle .name:hover {
    display:            inherit;
    overflow:           visible;
    height:             auto;
    min-width:          10vw;
}
