<table class="tree">
    <tr>
        <td *ngFor="let person of tree" width="10" class="person">

            <div class="element" (click)="behaviour.invert(person._id)">
                <div class="circle" id="{{ person._id }}" data-id="{{ person.parent }}">
                    <div class="name">{{ person.name }}</div>
                    <img class="photo" src="{{ person.photo }}">
                </div>
            </div>

            <div class="menu-items" [hidden]="behaviour.isHidden(person._id)">
                    <span class="item add">
                        <i class="material-icons fz-22">add_circle</i>
                    </span>
                <span class="item edit" (click)="behaviour.showMenuItems('form' + person._id)">
                        <i class="material-icons fz-22">edit</i>
                    </span>
            </div>

            <div class="modal-box" [hidden]="behaviour.isHidden('form' + person._id)">
                <div class="overlay" (click)="behaviour.hideMenuItems('form' + person._id)"></div>
                <div class="node-form form-group row">
                    <div class="head">
                        <span class="title">Edit <strong>{{ person.name }}</strong>. . .</span>
                        <div class="close" (click)="behaviour.hideMenuItems('form' + person._id)">
                            <i class="material-icons">close</i>
                        </div>
                    </div>
                    <br>
                    <form class="form-body row" method="post" action="/person/{{ person._id }}/update">
                        <div class="col-md-2">
                            <input class="form-control" name="name" type="text" value="{{ person.name }}"
                                [(ngModel)]="person.name" placeholder="Name. . ." required>
                        </div>
                        <div class="col-md-2">
                            <select name="parent" class="form-control" required>
                                <option>&#60;No parent&#62;</option>
                                <option *ngFor="let node of nodes" value="{{ node._id }}">{{ node.name }}</option>
                            </select>
                        </div>
                        <div class="col-md-2" title="Browse for a file to add...">
                            Photo
                            <input class="file-loading" type="file" [(ngModel)]="person.photo">
                        </div>
                        <hr>
                        <div class="btn-group"  style="float: right">
                            <button class="btn btn-primary btn-sm" type="submit"
                                [disabled]="person.name.length < 3">Update</button>
                        </div>
                    </form>
                </div>
            </div>

            <tree *ngIf="person.children != 0"
                  [tree]='person.children'>
            </tree>
        </td>
    </tr>
</table>
